.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Description {
  text-align: left;
}

.Interface {
  margin-top: -20px;
  margin-left: 20px;
  width: 300px;
  height: 150px;
}
