.App {
    display: grid;
    height: 96.5vh;
    grid-template-rows: auto 1fr auto;
}

.SketchWrapper {
    overflow: hidden;
}

.Interface {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}
