.dot {
    height: 10px;
    width: 10px;
    background-color: #343434;
    border-radius: 10px;
    margin: 20px 20px 40px 20px;
}

.you {
    background-color: green;
}

.guard {
    background-color: red;
}

.blank {
    visibility: hidden;
}

.mirror {
    opacity: 0.2;
}

.grid {
    width: 240px;
    display: grid;
    grid-auto-flow: column;
    margin: 0;
}
